<div class="container centerContainer ">
  <div class="logForm">

  <div>
  <h2>Want to book <%= @masterpiece.title %> ?</h2>
  </div>

  <div>
  <%= render "form", masterpiece: @masterpiece, booking: @booking %>
  </div>

  <div class="form-group mt-3">
  <%= link_to 'Back to Artwork', masterpiece_path(@masterpiece.id), class: 'btnSubmit4' %>
  </div>

</div>
  </div>
