<div class="container">
  <h2>Réserver votre <%= @masterpiece.title %> </h2>

  <%= render "form", masterpiece: @masterpiece, booking: @booking %>

  <%= link_to 'Retour à l\'oeuvre', masterpiece_path(@masterpiece.id), class: 'btn btn-secondary mt-3' %>
</div>
