<h1>Pages#home</h1>

<div class="search">
  <div class="searchtypeofcategory">
      <% ms = %w(paint sculture photo) %>
      <% ms.each do |item|%>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          <%= item %>
        </label>
      </div>
      <% end %>
  </div>

  <div class="searchstate">
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>Maybe use of scountry select gem here...</option>
      </select>
    </div>
  </div>

  <div class="searchdesc">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search in title or description" aria-label="Seacrh" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Search</button>
      </div>
    </div>
  </div>

  <div class="searchdate">
    <%= simple_form_for @search, method: :get, defaults: {required: false } do |f| %>
      <%= f.start_at :title, label: "Start at", input_html: {type: :date, name: :start_at, value: params.dig(:start_at)} %>
      <%= f.end_at :description, label: "End at", input_html: {type: :date, name: :end_at, value: params.dig(:end_at)} %>
    <% end %>
  </div>

</div>
