.main-btn {
  background-color: #000000;
  border: solid 1.5px #000000;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px 10px 20px;
  font-size: 14px;
  font-weight: 500;
  &:hover {
    background-color: #00000000;
    border-color: #000000;
    color: black;
  }
}

.secondary-btn {
  background-color: #ffffff00;
  border: solid 1.5px #000000;
  border-color: #000000;
  border-radius: 6px;
  color: #000000;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  font-size: 14px;
  font-weight: 500;
  &:hover {
    background-color: #000000;
    border-color: #000000;
    color: rgb(255, 255, 255);
  }
}

.main-btn, .secondary-btn {
  transition: background-color 0.3s, color 0.3s;
}

.btn-ghost {
  color: black;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;

  opacity: 0.8;
}

.btn-ghost:hover {
  opacity: 1;
  border: 1px solid #4A4A4A;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.btn-warning {
  border-radius: 30px;
}

.btn-success {
  border-radius: 30px;
}

.btn-secondary {
  border-radius: 30px;
}
