.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: rgba(0,0,0,0.08) 0 1px 1px;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.nav-box {
  color: #666565;
  border: 1px solid #666565;
  padding: 2px 6px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#navbarDropdown {
  text-decoration: none;
}

#navbarDropdown i {
  color: #666565;
}

.box:hover {
  box-shadow: rgba(0,0,0,0.15) 0 2px 2px;
}

.dropdown-menu {
  background-color: white;
  border: none;
  color: black;
  padding: 6px 6px;
  border-radius: 5px;
  font-weight: lighter;
  text-align: center;
  box-shadow: rgba(0,0,0,0.15) 0 2px 2px;
}

.dropdown-menu a {
  color: black;
}
