<div class="cardbooking">
  <h1><%= @masterpiece.price € par jour %></h1>
  <div class="cardbookingdates">
    <div class="cardbookingselection">
      <h2>DEBUT</h2>
      <h3><%= date.today %></h3>
    </div>
    <div class="cardbookingselection">
      <h2>FIN</h2>
      <h3><%= date.today + 1 %></h3>
    </div>
  </div>
  <a href="" class="cardbookingbtn">I want to book it !</a>
</div>container
